body {
  background-color: white;
  text-align: center;
  margin-top: 100px;
}

.logo {
  margin-bottom: -2.9rem; 
}

.outline {
  font-family: "Righteous", sans-serif;
  color: black;
  -webkit-text-stroke: 2px black;
  font-size: 5rem;
}

.solid {
  font-size: 12rem;  
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.text {
  margin-top: 0; /* remove space above the h2 */
  font-family: "Righteous", sans-serif;
  font-size: 1.7rem;
}
